@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Kanit:wght@200;400&family=Prompt:wght@600&family=Ubuntu:ital,wght@0,300;0,700;1,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu";
    font-weight: 400;
}

QAction, QPushButton, QLineEdit, QWidget {
    background: #e8e8e8;
    font-size: 15px;
}

QLabel {
    background: transparent;
}

QLineEdit, QLabel {
    font-size: 14px;
}

QWidget {
    font-family: 'Calibri';
    color: black;
}